<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>urunler</h1>
    <!--    <p><%= liste[0].name %></p>
    <p><%= liste[0].price %></p> -->
    <ul>
      <% liste.forEach(urun => { %>
      <li>
        <a href="/products/<%= urun.id %>">
          <%= urun.name %> - <%= urun.price %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
